# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [76]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
import re
import json
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [4]:
#your code
data = requests.get(url).text

#Imprimimos solo una muestra
print(data[0:100])

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <link rel="dns-prefetch

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [87]:
#your code
#print(data)

In [5]:
soup = BeautifulSoup(data, 'html.parser')

In [6]:
tag = soup.find_all('a', class_="d-inline-block")[8]
print(tag.attrs['href'][1:])
#tag = soup.select('a.d-inline-block')[8:]
#tag = soup.find_all("a", class_="d-inline-block")[8:]
#print(tag.attrs)

mattn

ahora que hemos localizado el primer usuario hacemos la lista

In [7]:
qwert = [tag.attrs['href'][1:] for tag in soup.find_all('a', class_="d-inline-block")]

In [8]:
qwert[8:]

['mattn',
 'amueller',
 'brianc',
 'ErikSchierboom',
 'JohnSundell',
 'siddharthkp',
 'jasonwilliams',
 'kyleconroy',
 'asottile',
 'wcandillon',
 'cmyr',
 'panva',
 'amilajack',
 'KristofferC',
 'gcanti',
 'greatghoul',
 'miekg',
 'Naturalclar',
 'lucasmichot',
 'ageitgey',
 'phil-opp',
 'tony',
 'isaacs',
 '4ian',
 'satya164']


#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [9]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [10]:
#your code
data_rep = requests.get(url).text

#Imprimimos solo una muestra
#print(data[0:100])
soup_rep = BeautifulSoup(data_rep, 'html.parser')

In [11]:
top_repos = [tag_rep.text.replace('\n','').replace(' ','') for tag_rep in soup_rep.select('article h1 a')]
#top_repos = [i for tag_rep in soup_rep.select('article h1 a') for i in tag_rep.children]
#top_repos.replace('\n','').replace(' ','')
top_repos

['BlankerL/DXY-2019-nCoV-Crawler',
 'gto76/python-cheatsheet',
 'smicallef/spiderfoot',
 'sebastianruder/NLP-progress',
 'rish-16/sight',
 'luong-komorebi/Awesome-Linux-Software',
 'vinta/awesome-python',
 'nicrusso7/rex-gym',
 'baowenbo/DAIN',
 'eastlakeside/interpy-zh',
 'tiangolo/fastapi',
 'explosion/thinc',
 'willmcgugan/rich',
 'MatthewPierson/Vieux',
 'CCExtractor/vardbg',
 'dragen1860/Deep-Learning-with-TensorFlow-book',
 'brendangregg/bpf-perf-tools-book',
 'googleapis/google-cloud-python',
 'anchore/anchore-engine',
 'aj-4/tinder-swipe-bot',
 'pytorch/captum',
 'samuelhwilliams/Eel',
 'salesforce/policy_sentry',
 'yzhao062/anomaly-detection-resources',
 'vineetjohn/daily-coding-problem']

In [12]:
#tag_rep = soup_rep.find_all('article', class_="Box-row")
#tag_rep = soup_rep.select('article h1 a')
#tag_rep
#len(tag_rep)
#print(tag.attrs['href'][1:])
#print(tag_rep)
#top_repos = [i for tag_rep in soup_rep.find_all('article', class_="Box-row") for i in tag_rep.children]
#top_repos

#### Display all the image links from Walt Disney wikipedia page

In [13]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [14]:
#your code
data_walt = requests.get(url).text

soup_walt = BeautifulSoup(data_walt, 'html.parser')

In [15]:
imgs_walt = ['http:'+tag_walt['src'] for tag_walt in soup_walt.find_all('img')]
#top_repos = [i for tag_rep in soup_rep.select('article h1 a') for i in tag_rep.children]
#top_repos.replace('\n','').replace(' ','')
imgs_walt

['http://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'http://upload.wikimedia.org/wikipedia/en/thumb/1/1b/Semi-protection-shackle.svg/20px-Semi-protection-shackle.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 'http://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'http://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/4/44/The_Walt_Disney_Company_Logo.svg/120px-The_Walt_Disney_Company_Logo.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 'http://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 'http://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 'http://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png',
 'http://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 'http://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 'http://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'http://en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 'http:/static/images/wikimedia-button.png',
 'http:/static/images/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [122]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [135]:
#your code
data_pyt = requests.get(url).text

soup_pyt = BeautifulSoup(data_pyt, 'html.parser')

links_pyt = [tag_pyt.attrs['href'] for tag_pyt in soup_pyt.find_all('a')[1:]]

print([i for i in links_pyt if re.search(r"http*", i)][:20])

['https://en.wiktionary.org/wiki/Python', 'https://en.wiktionary.org/wiki/python', 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0', 'https://en.wikipedia.org/w/index.php?title=Python&oldid=937840393', 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en', 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452', 'https://commons.wikimedia.org/wiki/Category:Python', 'https://af.wikipedia.org/wiki/Python', 'https://als.wikipedia.org/wiki/Python', 'https://az.wikipedia.org/wiki/Python', 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)', 'https://be.wikipedia.org/wiki/Python', 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)', 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)', 'https://da.wikipedia.org/wiki/Python', 'https://de.wikipedia.org/wiki/Python', 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)', 'https://eu.wikipedia.org/wiki/Python_(argipena)', 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86', 'https://fr.wikipedia.org/wiki/Python']

In [136]:
# Imprimo solo las 20 primeras url completas (que empiezan por 'http') de la página

#### Number of Titles that have changed in the United States Code since its last release point

In [19]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
# "Titles in bold have been changed since the last release point."

In [20]:
#your code
data_USC = requests.get(url).text

soup_USC = BeautifulSoup(data_USC, 'html.parser')

qwert = [tag.text.strip('\n ') for tag in soup_USC.find_all('div', class_="usctitlechanged")]
qwert

['Title 18 - Crimes and Criminal Procedure ٭',
 'Title 20 - Education',
 'Title 26 - Internal Revenue Code']

#### A Python list with the top ten FBI's Most Wanted names

In [21]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [22]:
#your code 
#<h3 class="title">
#<a href="https://www.fbi.gov/wanted/topten/jason-derek-brown">JASON DEREK BROWN</a>
#</h3>
data_FBI = requests.get(url).text

soup_FBI = BeautifulSoup(data_FBI, 'html.parser')

qwert = [tag.text.strip() for tag in soup_FBI.find_all('h3', class_="title")]
qwert

['JASON DEREK BROWN',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ARNOLDO JIMENEZ',
 'ALEJANDRO ROSALES CASTILLO',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [23]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [25]:
#your code
data_EQ = requests.get(url).text

soup_EQ = BeautifulSoup(data_EQ, 'html.parser')
# Para sacar las series de datos, una vez vista la estructura de la tabla y las clases de los tags,
# lo haré obteniendo listas separadas de las columnas y unirlas después

# Del tag con la fecha y la hora sacamos todos lo valores y luego extraemos cada uno
qwert = [tag.text for tag in soup_EQ.find_all('td', class_="tabev6")][0:20]
# Pendiente rehacer el regex para que no dé pena
fechas = [re.findall(r'(\d\d\d\d-\d\d-\d\d)',z) for z in qwert]
horas = [re.findall(r'(\d\d:\d\d:\d\d)',z) for z in qwert]

# la latitud y longitud comparten la misma clase, cogemos 40 y dividimos alternativamente en dos listas
lat = [tag.text.replace('\xa0','') for tag in soup_EQ.find_all('td', class_="tabev1")][0:39:2]
lon = [tag.text.replace('\xa0','') for tag in soup_EQ.find_all('td', class_="tabev1")][1:40:2]

# la direccion de las coordenadas comparten clase también junto con la Magnitud, tenemos que coger 60 y quedarnos los las dos series buenas
latns = [tag.text.replace('\xa0','') for tag in soup_EQ.find_all('td', class_="tabev2")][0:59:3]
lonwe = [tag.text.replace('\xa0','') for tag in soup_EQ.find_all('td', class_="tabev2")][1:60:3]

#la región no tiene dificultad, obtenemos los 20 primeros valores de su clase
region = [tag.text.replace('\xa0','') for tag in soup_EQ.find_all('td', class_="tb_region")][0:20]

#compruebo que las listas tienen mismo tamaño antes de unirlas
print(len(fechas),len(horas),len(lat),len(latns),len(lon),len(lonwe),len(region))

20 20 20 20 20 20 20

Unimos las listas en un diccionario y de ahí creamos el dataframe

In [26]:
dictio = {'date': fechas, 'time': horas, 'latitude': lat, 'lat_dir': latns, 'longitude': lon, 'lon_dir': lonwe, 'region': region}  
    
df = pd.DataFrame(dictio)

df

,date,time,latitude,lat_dir,longitude,lon_dir,region
0,[2020-01-30],[21:00:10],38.83,N,119.77,W,NORTHERN CALIFORNIA
1,[2020-01-30],[20:51:04],38.42,N,39.00,E,EASTERN TURKEY
2,[2020-01-30],[20:46:22],16.43,N,95.01,W,"OAXACA, MEXICO"
3,[2020-01-30],[20:46:05],19.22,N,155.44,W,"ISLAND OF HAWAII, HAWAII"
4,[2020-01-30],[20:13:08],38.42,N,39.00,E,EASTERN TURKEY
5,[2020-01-30],[20:09:14],39.08,N,27.82,E,WESTERN TURKEY
6,[2020-01-30],[19:56:55],38.96,N,27.89,E,WESTERN TURKEY
7,[2020-01-30],[19:50:41],19.22,N,155.43,W,"ISLAND OF HAWAII, HAWAII"
8,[2020-01-30],[19:48:09],38.34,N,38.85,E,EASTERN TURKEY
9,[2020-01-30],[19:47:40],39.52,N,29.43,E,WESTERN TURKEY
10,[2020-01-30],[19:42:01],17.93,N,66.86,W,PUERTO RICO REGION
11,[2020-01-30],[19:32:48],2.46,N,98.99,E,"NORTHERN SUMATRA, INDONESIA"
12,[2020-01-30],[19:32:21],38.46,N,39.24,E,EASTERN TURKEY
13,[2020-01-30],[18:58:41],18.98,N,81.00,W,CAYMAN ISLANDS REGION
14,[2020-01-30],[18:56:47],38.99,N,27.87,E,WESTERN TURKEY
15,[2020-01-30],[18:43:40],35.19,N,27.96,E,"DODECANESE ISLANDS, GREECE"
16,[2020-01-30],[18:42:54],19.20,N,155.45,W,"ISLAND OF HAWAII, HAWAII"
17,[2020-01-30],[18:40:03],35.93,N,28.11,E,EASTERN MEDITERRANEAN SEA
18,[2020-01-30],[18:38:55],39.01,N,27.86,E,WESTERN TURKEY
19,[2020-01-30],[18:36:42],38.45,N,39.19,E,EASTERN TURKEY

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [27]:
#your code
'''Esta URL no va'''

'Esta URL no va'

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [28]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [44]:
try:
    user = input('Dime un usuario de twitter válido: ')
    if user == '':
        raise NameError
    url2 = url+user
    data_TW = requests.get(url2).text
    soup_TW = BeautifulSoup(data_TW, 'html.parser')
    num_TW = [tag.attrs['title'] for tag in soup_TW.find_all('a', class_="ProfileNav-stat ProfileNav-stat--link u-borderUserColor u-textCenter js-tooltip js-nav")]
    print('@'+user+' tiene '+num_TW[0])
except NameError as e:
    print('Error, nombre no válido')
except:
    print('Error al parsear')

Dime un usuario de twitter válido: elmundotoday
@elmundotoday tiene 38.749 Tweets

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [215]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [46]:
try:
    user = input('Dime un usuario de twitter válido: ')
    if user == '':
        raise NameError
    url2 = url+user
    data_TW = requests.get(url2).text
    soup_TW = BeautifulSoup(data_TW, 'html.parser')
    num_FW = [tag.attrs['title'] for tag in soup_TW.find_all('a', href="/"+user+"/followers")]
    print('@'+user+' tiene '+num_FW[0])
except NameError as e:
    print('Error, nombre no válido')
except:
    print('Error al parsear')

Dime un usuario de twitter válido: mashable
@mashable tiene 9.808.315 Seguidores

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [51]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [52]:
data_wiki = requests.get(url).text
soup_wiki = BeautifulSoup(data_wiki, 'html.parser')
num_wiki = [int(tag.text.replace('\xa0','').replace('\n','').replace('+','')) for tag in soup_wiki.find_all('bdi', dir="ltr")][:10]
#num_wiki
languages = [tag.text for tag in soup_wiki.find_all('a', class_="link-box")]
print(num_wiki)
languages
#<bdi dir="ltr">1&nbsp;571&nbsp;000+</bdi>
#<a id="js-link-box-en" href="//en.wikipedia.org/" title="English — Wikipedia — The Free Encyclopedia" class="link-box" data-slogan="The Free Encyclopedia">
#<strong>English</strong>
#<small><bdi dir="ltr">5&nbsp;994&nbsp;000+</bdi> <span>articles</span></small>
#</a>

[5994000, 1185000, 2385000, 1571000, 1590000, 2171000, 1576000, 1090000, 1018000, 1379000]

['\nEnglish\n5\xa0994\xa0000+ articles\n',
 '\næ\x97¥æ\x9c¬èª\x9e\n1\xa0185\xa0000+ è¨\x98äº\x8b\n',
 '\nDeutsch\n2\xa0385\xa0000+ Artikel\n',
 '\nEspaÃ±ol\n1\xa0571\xa0000+ artÃ\xadculos\n',
 '\nÐ\xa0Ñ\x83Ñ\x81Ñ\x81ÐºÐ¸Ð¹\n1\xa0590\xa0000+ Ñ\x81Ñ\x82Ð°Ñ\x82ÐµÐ¹\n',
 '\nFranÃ§ais\n2\xa0171\xa0000+ articles\n',
 '\nItaliano\n1\xa0576\xa0000+ voci\n',
 '\nä¸\xadæ\x96\x87\n1\xa0090\xa0000+ æ¢\x9dç\x9b®\n',
 '\nPortuguÃªs\n1\xa0018\xa0000+ artigos\n',
 '\nPolski\n1\xa0379\xa0000+ haseÅ\x82\n']

#### A list with the different kind of datasets available in data.gov.uk

In [53]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [54]:
#your code 
#<a href="/search?filters%5Btopic%5D=Business+and+economy">Business and economy</a>

data_govuk = requests.get(url).text
soup_govuk = BeautifulSoup(data_govuk, 'html.parser')
num_govuk = [tag.text for tag in soup_govuk.find_all('h2')]
num_govuk

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [55]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [56]:
#your code
data_speak = requests.get(url).text
soup_speak = BeautifulSoup(data_speak, 'html.parser')
tabla = soup_speak.find_all('table')[0]

In [57]:
def procesaFila(tag):
    m = tag.find_all("td")
    #print(m[1])
    return {
        "language":m[1].find("a").text.strip(),
        "speakers":float(m[2].text.replace('\n',''))*1000
    }

tabla_limpia = [procesaFila(fila) for fila in tabla.find_all("tr")[1:11]]

tabla_limpia

[{'language': 'Mandarin Chinese', 'speakers': 918000.0},
 {'language': 'Spanish', 'speakers': 480000.0},
 {'language': 'English', 'speakers': 379000.0},
 {'language': 'Hindi', 'speakers': 341000.0},
 {'language': 'Bengali', 'speakers': 228000.0},
 {'language': 'Portuguese', 'speakers': 221000.0},
 {'language': 'Russian', 'speakers': 154000.0},
 {'language': 'Japanese', 'speakers': 128000.0},
 {'language': 'Western Punjabi', 'speakers': 92700.0},
 {'language': 'Marathi', 'speakers': 83100.0}]

In [58]:
  
df = pd.DataFrame(tabla_limpia)

df

           language  speakers
0  Mandarin Chinese  918000.0
1           Spanish  480000.0
2           English  379000.0
3             Hindi  341000.0
4           Bengali  228000.0
5        Portuguese  221000.0
6           Russian  154000.0
7          Japanese  128000.0
8   Western Punjabi   92700.0
9           Marathi   83100.0

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [115]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [116]:
# your code
imdb = pd.read_html(url)

In [121]:
print(imdb)
# Lo dejo a medias

[     Unnamed: 0                                       Rank & Title  \
0           NaN                        1.  Cadena perpetua  (1994)
1           NaN                             2.  El padrino  (1972)
2           NaN                   3.  El padrino: Parte II  (1974)
3           NaN                    4.  El caballero oscuro  (2008)
4           NaN                  5.  12 hombres sin piedad  (1957)
..          ...                                                ...
245         NaN                         246.  Contratiempo  (2016)
246         NaN                              247.  Aladdín  (1992)
247         NaN                           248.  Mujercitas  (2019)
248         NaN              249.  El castillo en el cielo  (1986)
249         NaN  250.  Neon Genesis Evangelion: The End of Evan...

     IMDb Rating                         Your Rating  Unnamed: 4
0            9.2  12345678910 NOT YET RELEASED  Seen         NaN
1            9.1  12345678910 NOT YET RELEASED  Seen         NaN
2            9.0  12345678910 NOT YET RELEASED  Seen         NaN
3            9.0  12345678910 NOT YET RELEASED  Seen         NaN
4            8.9  12345678910 NOT YET RELEASED  Seen         NaN
..           ...                                 ...         ...
245          8.0  12345678910 NOT YET RELEASED  Seen         NaN
246          8.0  12345678910 NOT YET RELEASED  Seen         NaN
247          8.0  12345678910 NOT YET RELEASED  Seen         NaN
248          8.0  12345678910 NOT YET RELEASED  Seen         NaN
249          8.0  12345678910 NOT YET RELEASED  Seen         NaN

[250 rows x 5 columns]]

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [59]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:Alicante

In [75]:
# Alicante
#{"coord":{"lon":-0.48,"lat":38.35},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"base":"stations","main":{"temp":15.69,"feels_like":7.12,"temp_min":12.22,"temp_max":17,"pressure":1022,"humidity":51},"visibility":10000,"wind":{"speed":10.8,"deg":310},"clouds":{"all":84},"dt":1580421115,"sys":{"type":1,"id":6391,"country":"ES","sunrise":1580368158,"sunset":1580404844},"timezone":3600,"id":2521978,"name":"Alicante","cod":200}


el_tiempo = requests.get(url).text
print(el_tiempo)

{"coord":{"lon":-0.48,"lat":38.35},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"base":"stations","main":{"temp":15.69,"feels_like":7.12,"temp_min":12.22,"temp_max":17,"pressure":1022,"humidity":51},"visibility":10000,"wind":{"speed":10.8,"deg":310},"clouds":{"all":84},"dt":1580421115,"sys":{"type":1,"id":6391,"country":"ES","sunrise":1580368158,"sunset":1580404844},"timezone":3600,"id":2521978,"name":"Alicante","cod":200}

In [88]:
# id 2521978

diccionario = json.loads(el_tiempo)

temperature = diccionario['main']['temp']
wind = diccionario['wind']['speed']
description = diccionario['weather'][0]['description']
weather = diccionario['weather'][0]['main']

print('In '+city+' we have now '+weather+' ('+description+') and '+str(temperature)+' ºC with '+str(wind)+' m/s of wind')

In Alicante we have now Clouds (broken clouds) and 15.69 ºC with 10.8 m/s of wind

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [108]:
#your code
libros =[]
precios = []
stocks = []
for i in range(1,51):
    data_libros = requests.get('http://books.toscrape.com/catalogue/category/books_1/page-'+str(i)+'.html').text
    soup_libros = BeautifulSoup(data_libros, 'html.parser')
    #libros = [tag.attrs['alt'] for tag in soup_libros.find_all('img', class_="thumbnail")]
    for tag in soup_libros.find_all('img', class_="thumbnail"):
        libros.append(tag.attrs['alt'])
    for tag in soup_libros.find_all('p', class_="price_color"):
        precios.append(float(tag.text.replace('Â£','')))
    for tag in soup_libros.find_all('p', class_="instock availability"):
        stocks.append(tag.text.strip())

#<p class="price_color">£38.00</p>
#<p class="instock availability"><i class="icon-ok"></i>In stock</p>
#http://books.toscrape.com/catalogue/category/books_1/page-1.html
#http://books.toscrape.com/catalogue/category/books_1/page-50.html

In [109]:
   
df = pd.DataFrame({'libro': libros, 'precio(£)': precios, 'disponible': stocks})

df

                                                 libro  precio(£) disponible
0                                 A Light in the Attic      51.77   In stock
1                                   Tipping the Velvet      53.74   In stock
2                                           Soumission      50.10   In stock
3                                        Sharp Objects      47.82   In stock
4                Sapiens: A Brief History of Humankind      54.23   In stock
..                                                 ...        ...        ...
995  Alice in Wonderland (Alice's Adventures in Won...      55.53   In stock
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)      57.06   In stock
997  A Spy's Devotion (The Regency Spies of London #1)      16.97   In stock
998                1st to Die (Women's Murder Club #1)      53.98   In stock
999                 1,000 Places to See Before You Die      26.08   In stock

[1000 rows x 3 columns]

In [110]:
df['precio(£)'].sum()

35070.35

In [113]:
df[df['disponible']!='In stock'].count()

libro         0
precio(£)     0
disponible    0
dtype: int64

In [ ]:
#Todos los libros están disponibles